section {
    display: flex;
    width: 100%;
    height: 430px;
    justify-content: center;
    align-items: center;
}
section .picture1 {
    width: 0;
    border-radius: 5px;
  
    flex-grow: 1;
    object-fit: cover;
    opacity: 8;
    transition: 0.5s ease;
}
section .picture1:hover{
    cursor: crosshair;
    width: 430px;
    opacity: 1;
    filter: contrast(120%);
}